<h1><%= @user.first_name %>'s Dashboard</h1>
<h2>Accounts</h2>
<% if @grouped_checking_transactions.any? %>
  <% @grouped_checking_transactions.each do |account, transactions| %>
    <h3><%= account.name %></h3>
    <p><%= number_to_currency(account.balance, unit: "$", separator: ".", delimiter: "") %></p>
    <h4>Current Months Transactions</h4>
    <% transactions.each do |transaction| %>
      <li>Description: <%= transaction.description %> - <%= number_to_currency(transaction.amount, unit: "$", separator: ".", delimiter: "") %> Date:<%= transaction.transaction_date %></li>
    <% end %>
  <% end %>
<% end %>
<% if @grouped_savings_transactions.any? %>
  <% @grouped_savings_transactions.each do |account, transactions| %>
    <h3><%= account.name %></h3>
    <p><%= number_to_currency(account.balance, unit: "$", separator: ".", delimiter: "") %></p>
    <h4>Current Months Transactions</h4>
    <% transactions.each do |transaction| %>
      <li>Description: <%= transaction.description %> - <%= number_to_currency(transaction.amount, unit: "$", separator: ".", delimiter: "") %> Date:<%= transaction.transaction_date %></li>
    <% end %>
  <% end %>
<% end %>
<% if @grouped_credit_card_transactions.any? %>
  <% @grouped_credit_card_transactions.each do |account, transactions| %>
    <h3><%= account.name %></h3>
    <p><%= number_to_currency(account.balance, unit: "$", separator: ".", delimiter: "") %></p>
    <h4>Current Months Transactions</h4>
    <% transactions.each do |transaction| %>
      <li>Description: <%= transaction.description %> - <%= number_to_currency(transaction.amount, unit: "$", separator: ".", delimiter: "") %> Date:<%= transaction.transaction_date %></li>
    <% end %>
  <% end %>
<% end %>
<div class="recent-transactions">
  <h2>Recent Transactions</h2>
  <% @recent_transactions.each do |transaction| %>
    <li>Description: <%= transaction.description %> - <%= number_to_currency(transaction.amount, unit: "$", separator: ".", delimiter: "") %> Date:<%= transaction.transaction_date %></li>
  <% end %>
</div>
<div class="income-graph">
  <%= column_chart @monthly_income, xtitle: "Date", ytitle: "Income", colors: ["#C2BBF0", "#8FB8ED"], prefix: "$", thousands: ",", width: "700px", height: "450px" %>
</div>