<!DOCTYPE html>
<html>
  <head>
    <title>FinanceTracker</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="" >
    <nav class="p-4 bg-white shadow-md md:flex md:items-center md:justify-between">
      <div>
        <span class="text-2xl font-[Poppins] cursor-pointer">
          <img class="h-10 inline" src="<%= asset_path('tailwind.png') %>">
          Finance Tracker
        </span>
      </div>
      <div class="">
          <% if user_signed_in? %>
        <ul class="md:flex md:items-center">
          <li class="hover:text-gray-500 mx-4 my-6 md:my-0">
            <%= link_to "Profile", profile_path %>
          </li>
          <li class="hover:text-gray-500 mx-4 my-6 md:my-0">
            <%= link_to "Dashboard", dashboard_path %>
          </li>
          <li class="bg-[#8FB8ED] text-white px-5 py-2 rounded-full hover:bg-[#a6cbfb] mx-4 my-6 md:my-0">
            <%= button_to "Sign out", destroy_user_session_path, method: :delete %>
          </li>
          <% else %>
          <li class="hover:text-gray-500 mx-4 my-6 md:my-0">
            <%= link_to "Sign in", new_user_session_path %>
          </li>
          <li class="hover:text-gray-500 mx-4 my-6 md:my-0">
            <%= link_to "Sign up", new_user_registration_path %>
          </li>
          <% end %>
        </ul>
      </div>
    </nav>
    <div>
      <% flash.each do |type, message| %>
        <p><%= message %></p>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
